//! colors

//! colors

//text

$white: #FFFFFF;
$light_gray: #BBBBBB;
$black: #000000;
$dark_gray: #888888;
$red: #F9636B;

//buttons
$red: #F9636B;
$purple: #B6246E;
$light_blue: #03A7D3E6;
$blue: #527CEB;

//background
$dark_blue: #0B1953;
$night_blue: #F4F4F4;
$footer_blue: #030434;
$shadow_gray: #F1F1F1;

